* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
    text-align: center;
    flex-direction: column;
   
  }

  .handy {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 90%; 
    width: 400px;
    background-color: #1C1B1F;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    position: relative;
   
}


.eins{
    width: 390px;
    height: 40px;
    border-radius: 10px;
    background-color:#FFFFFF;
    margin-top: 40px;

}

i.fa {
    font-size: 20px;
    color: #000000;
    transition: all 0.3s ease;
    margin: 10px;
}

i.fa-battery-quarter {
    color: #9F2626;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.Uhrzeit{
  font-family: 'Inter', sans-serif;
}

h1 {
  color:#FFFFFF;
  font-style: bold;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;  
  margin-bottom: 20px;
  padding: 20px;
  }

.myButton,.m1,.m2,.m3 {
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 380px;
  height: 80px;
  margin-bottom: 5px;
  padding: 10px;
  
  text-align:left;
  font-family: 'Inter', sans-serif; 
}

.m1{
background-color: #E077E2;
}
.myButton{
background-color: #FFA8D2;
}
.m2{
background-color: #AD94E8;
}
.m3{
background-color: #5293F4;
margin-bottom: 150px;
}


  
  .footer {
    width: 100%;
    height: 55px;
    border-radius: 6px;
    background-color: #0F0E0E;
    position: relative; 
    bottom: 0;
    left: 0;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px; 
  }

  .footer2  {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px;
  }

 .footer2 i:hover {
  color: #FFFFFF;
  transform: scale(1.2);
}


.neuerto {
  width: 300px;
  height: 35px;
  padding: 8px;
  background-color: #E077E2;
  color: #000000;
  border-color:#000000;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;

}
.search {
  width: 328px;
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #E077E2;
  font-size: 16px;
 
}
.Hinzufügen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto; 
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center; 
  margin-top: 100px;
 
}

.box {
  width: 118px;
  height: 59px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.box .Leer {
  width: 176px;     
  height: 25px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  display: flex;
  justify-content: center;     
  align-items: center;          
  border-radius: 10px;
  
}