* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
    text-align: center;
  }

.handy{
    display: flex;
    height: 90vh;
    background-color: #1C1B1F;
    width: 400px;
    border-radius:7%;
    flex-direction: column;
    overflow: hidden;
    align-items: center; 
}

.eins{
width: 400px;
height: 35px;
border-radius: 10px;
background-color:#FFFFFF;
margin-top: 40px;
}
.zwei{
    
background-color: #FFA8D2;
   
}
.drei{
   
background-color: #E077E2;
  
}
.vier{
  
background-color: #AD94E8;
 

}
.fünf{
   
background-color: #5293F4;
   
}
h1{
color:#FFFFFF;
font-style: bold;
font-size: 40px;
font-family: 'Inter', sans-serif;
font-weight: bolder;  
margin-bottom: 90px;
padding: 20px;
}

.zwei, .drei, .vier, .fünf {
width: 380px;
height: 80px;
margin-bottom: 20px;
padding: 15px;
text-align:left;
border-radius:8px;
}

.footer{
    width: 400px;
    height: 35px;
    border-radius: 6px;
    background-color:#0F0E0E;
    margin-top: 150px;
    border: 2px solid #FFFFFF;
}